#XYZZY-holder {
    position: fixed;
    z-index: 2147483646;
    left: 8px;
    top: 20px;
    transform: rotate(-10deg);
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

.XYZZY-sticker-warning {

    width: 200px;
    /*height: 100px; */
    color: #000;
    background-color: #fbd415;
    border: 8px solid #F8BB08; 

    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 8px;
    box-sizing: content-box;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

